#titles{
  font-family: Roboto;
  font-weight: bold;
  font-size: 10px;
  color:#0B749B;
  word-spacing: 0;
}
#content{
  font-family: Roboto;
  font-weight: regular;
  font-size: 16px;
  color:#536B7A;
  word-spacing: 0;

}

h1{
  font-family: Roboto;
  font-weight: regular;
  font-size: 24px;
  color:#386071;
  word-spacing: 0;
}